<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>uni00A0</string>
      <string>uni0964</string>
      <string>uni0965</string>
      <string>uni0981</string>
      <string>uni0982</string>
      <string>uni0983</string>
      <string>uni0985</string>
      <string>uni0986</string>
      <string>uni0987</string>
      <string>uni0988</string>
      <string>uni0989</string>
      <string>uni098A</string>
      <string>uni098B</string>
      <string>uni098C</string>
      <string>uni098F</string>
      <string>uni0990</string>
      <string>uni0993</string>
      <string>uni0994</string>
      <string>uni0995</string>
      <string>uni0996</string>
      <string>uni0997</string>
      <string>uni0998</string>
      <string>uni0999</string>
      <string>uni099A</string>
      <string>uni099B</string>
      <string>uni099C</string>
      <string>uni099D</string>
      <string>uni099E</string>
      <string>uni099F</string>
      <string>uni09A0</string>
      <string>uni09A1</string>
      <string>uni09A2</string>
      <string>uni09A3</string>
      <string>uni09A4</string>
      <string>uni09A5</string>
      <string>uni09A6</string>
      <string>uni09A7</string>
      <string>uni09A8</string>
      <string>uni09AA</string>
      <string>uni09AB</string>
      <string>uni09AC</string>
      <string>uni09AD</string>
      <string>uni09AE</string>
      <string>uni09AF</string>
      <string>uni09B0</string>
      <string>uni09B2</string>
      <string>uni09B6</string>
      <string>uni09B7</string>
      <string>uni09B8</string>
      <string>uni09B9</string>
      <string>uni09BC</string>
      <string>uni09BD</string>
      <string>uni09BE</string>
      <string>uni09BF</string>
      <string>uni09C0</string>
      <string>uni09C1</string>
      <string>uni09C2</string>
      <string>uni09C3</string>
      <string>uni09C4</string>
      <string>uni09C7</string>
      <string>uni09C8</string>
      <string>uni09CB</string>
      <string>uni09CC</string>
      <string>uni09CD</string>
      <string>uni09CE</string>
      <string>uni09D7</string>
      <string>uni09DC</string>
      <string>uni09DD</string>
      <string>uni09DF</string>
      <string>uni09E6</string>
      <string>uni09E7</string>
      <string>uni09E8</string>
      <string>uni09E9</string>
      <string>uni09EA</string>
      <string>uni09EB</string>
      <string>uni09EC</string>
      <string>uni09ED</string>
      <string>uni09EE</string>
      <string>uni09EF</string>
      <string>uni09F0</string>
      <string>uni09F1</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>A</key>
      <string>base</string>
      <key>B</key>
      <string>base</string>
      <key>C</key>
      <string>base</string>
      <key>D</key>
      <string>base</string>
      <key>E</key>
      <string>base</string>
      <key>F</key>
      <string>base</string>
      <key>G</key>
      <string>base</string>
      <key>H</key>
      <string>base</string>
      <key>I</key>
      <string>base</string>
      <key>J</key>
      <string>base</string>
      <key>K</key>
      <string>base</string>
      <key>L</key>
      <string>base</string>
      <key>M</key>
      <string>base</string>
      <key>N</key>
      <string>base</string>
      <key>O</key>
      <string>base</string>
      <key>P</key>
      <string>base</string>
      <key>Q</key>
      <string>base</string>
      <key>R</key>
      <string>base</string>
      <key>S</key>
      <string>base</string>
      <key>T</key>
      <string>base</string>
      <key>U</key>
      <string>base</string>
      <key>V</key>
      <string>base</string>
      <key>W</key>
      <string>base</string>
      <key>X</key>
      <string>base</string>
      <key>Y</key>
      <string>base</string>
      <key>Z</key>
      <string>base</string>
      <key>a</key>
      <string>base</string>
      <key>ampersand</key>
      <string>base</string>
      <key>asciicircum</key>
      <string>base</string>
      <key>asciitilde</key>
      <string>base</string>
      <key>asterisk</key>
      <string>base</string>
      <key>at</key>
      <string>base</string>
      <key>b</key>
      <string>base</string>
      <key>backslash</key>
      <string>base</string>
      <key>bar</key>
      <string>base</string>
      <key>braceleft</key>
      <string>base</string>
      <key>braceright</key>
      <string>base</string>
      <key>bracketleft</key>
      <string>base</string>
      <key>bracketright</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>colon</key>
      <string>base</string>
      <key>comma</key>
      <string>base</string>
      <key>d</key>
      <string>base</string>
      <key>dollar</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>eight</key>
      <string>base</string>
      <key>equal</key>
      <string>base</string>
      <key>exclam</key>
      <string>base</string>
      <key>f</key>
      <string>base</string>
      <key>five</key>
      <string>base</string>
      <key>four</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>grave</key>
      <string>base</string>
      <key>greater</key>
      <string>base</string>
      <key>h</key>
      <string>base</string>
      <key>hyphen</key>
      <string>base</string>
      <key>i</key>
      <string>base</string>
      <key>j</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>less</key>
      <string>base</string>
      <key>m</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>nine</key>
      <string>base</string>
      <key>numbersign</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>one</key>
      <string>base</string>
      <key>p</key>
      <string>base</string>
      <key>parenleft</key>
      <string>base</string>
      <key>parenright</key>
      <string>base</string>
      <key>percent</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>plus</key>
      <string>base</string>
      <key>q</key>
      <string>base</string>
      <key>question</key>
      <string>base</string>
      <key>quotedbl</key>
      <string>base</string>
      <key>quotesingle</key>
      <string>base</string>
      <key>r</key>
      <string>base</string>
      <key>s</key>
      <string>base</string>
      <key>semicolon</key>
      <string>base</string>
      <key>seven</key>
      <string>base</string>
      <key>six</key>
      <string>base</string>
      <key>slash</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>t</key>
      <string>base</string>
      <key>three</key>
      <string>base</string>
      <key>two</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>underscore</key>
      <string>base</string>
      <key>uni00A0</key>
      <string>base</string>
      <key>uni0964</key>
      <string>base</string>
      <key>uni0965</key>
      <string>base</string>
      <key>uni0981</key>
      <string>base</string>
      <key>uni0982</key>
      <string>base</string>
      <key>uni0983</key>
      <string>base</string>
      <key>uni0985</key>
      <string>base</string>
      <key>uni0986</key>
      <string>base</string>
      <key>uni0987</key>
      <string>base</string>
      <key>uni0988</key>
      <string>base</string>
      <key>uni0989</key>
      <string>base</string>
      <key>uni098A</key>
      <string>base</string>
      <key>uni098B</key>
      <string>base</string>
      <key>uni098C</key>
      <string>base</string>
      <key>uni098F</key>
      <string>base</string>
      <key>uni0990</key>
      <string>base</string>
      <key>uni0993</key>
      <string>base</string>
      <key>uni0994</key>
      <string>base</string>
      <key>uni0995</key>
      <string>base</string>
      <key>uni0996</key>
      <string>base</string>
      <key>uni0997</key>
      <string>base</string>
      <key>uni0998</key>
      <string>base</string>
      <key>uni0999</key>
      <string>base</string>
      <key>uni099A</key>
      <string>base</string>
      <key>uni099B</key>
      <string>base</string>
      <key>uni099C</key>
      <string>base</string>
      <key>uni099D</key>
      <string>base</string>
      <key>uni099E</key>
      <string>base</string>
      <key>uni099F</key>
      <string>base</string>
      <key>uni09A0</key>
      <string>base</string>
      <key>uni09A1</key>
      <string>base</string>
      <key>uni09A2</key>
      <string>base</string>
      <key>uni09A3</key>
      <string>base</string>
      <key>uni09A4</key>
      <string>base</string>
      <key>uni09A5</key>
      <string>base</string>
      <key>uni09A6</key>
      <string>base</string>
      <key>uni09A7</key>
      <string>base</string>
      <key>uni09A8</key>
      <string>base</string>
      <key>uni09AA</key>
      <string>base</string>
      <key>uni09AB</key>
      <string>base</string>
      <key>uni09AC</key>
      <string>base</string>
      <key>uni09AD</key>
      <string>base</string>
      <key>uni09AE</key>
      <string>base</string>
      <key>uni09AF</key>
      <string>base</string>
      <key>uni09B0</key>
      <string>base</string>
      <key>uni09B2</key>
      <string>base</string>
      <key>uni09B6</key>
      <string>base</string>
      <key>uni09B7</key>
      <string>base</string>
      <key>uni09B8</key>
      <string>base</string>
      <key>uni09B9</key>
      <string>base</string>
      <key>uni09BC</key>
      <string>base</string>
      <key>uni09BD</key>
      <string>base</string>
      <key>uni09BE</key>
      <string>base</string>
      <key>uni09BF</key>
      <string>base</string>
      <key>uni09C0</key>
      <string>base</string>
      <key>uni09C1</key>
      <string>base</string>
      <key>uni09C2</key>
      <string>base</string>
      <key>uni09C3</key>
      <string>base</string>
      <key>uni09C4</key>
      <string>base</string>
      <key>uni09C7</key>
      <string>base</string>
      <key>uni09C8</key>
      <string>base</string>
      <key>uni09CB</key>
      <string>base</string>
      <key>uni09CC</key>
      <string>base</string>
      <key>uni09CD</key>
      <string>base</string>
      <key>uni09CE</key>
      <string>base</string>
      <key>uni09D7</key>
      <string>base</string>
      <key>uni09DC</key>
      <string>base</string>
      <key>uni09DD</key>
      <string>base</string>
      <key>uni09DF</key>
      <string>base</string>
      <key>uni09E6</key>
      <string>base</string>
      <key>uni09E7</key>
      <string>base</string>
      <key>uni09E8</key>
      <string>base</string>
      <key>uni09E9</key>
      <string>base</string>
      <key>uni09EA</key>
      <string>base</string>
      <key>uni09EB</key>
      <string>base</string>
      <key>uni09EC</key>
      <string>base</string>
      <key>uni09ED</key>
      <string>base</string>
      <key>uni09EE</key>
      <string>base</string>
      <key>uni09EF</key>
      <string>base</string>
      <key>uni09F0</key>
      <string>base</string>
      <key>uni09F1</key>
      <string>base</string>
      <key>v</key>
      <string>base</string>
      <key>w</key>
      <string>base</string>
      <key>x</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>z</key>
      <string>base</string>
      <key>zero</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
