<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>uni0981</key>
    <string>uni0981.glif</string>
    <key>uni0982</key>
    <string>uni0982.glif</string>
    <key>uni0983</key>
    <string>uni0983.glif</string>
    <key>uni0985</key>
    <string>uni0985.glif</string>
    <key>uni0986</key>
    <string>uni0986.glif</string>
    <key>uni0987</key>
    <string>uni0987.glif</string>
    <key>uni0988</key>
    <string>uni0988.glif</string>
    <key>uni0989</key>
    <string>uni0989.glif</string>
    <key>uni098A</key>
    <string>uni098A_.glif</string>
    <key>uni098B</key>
    <string>uni098B_.glif</string>
    <key>uni098C</key>
    <string>uni098C_.glif</string>
    <key>uni098F</key>
    <string>uni098F_.glif</string>
    <key>uni0990</key>
    <string>uni0990.glif</string>
    <key>uni0993</key>
    <string>uni0993.glif</string>
    <key>uni0994</key>
    <string>uni0994.glif</string>
    <key>uni0995</key>
    <string>uni0995.glif</string>
    <key>uni0996</key>
    <string>uni0996.glif</string>
    <key>uni0997</key>
    <string>uni0997.glif</string>
    <key>uni0998</key>
    <string>uni0998.glif</string>
    <key>uni0999</key>
    <string>uni0999.glif</string>
    <key>uni099A</key>
    <string>uni099A_.glif</string>
    <key>uni099B</key>
    <string>uni099B_.glif</string>
    <key>uni099C</key>
    <string>uni099C_.glif</string>
    <key>uni099D</key>
    <string>uni099D_.glif</string>
    <key>uni099E</key>
    <string>uni099E_.glif</string>
    <key>uni099F</key>
    <string>uni099F_.glif</string>
    <key>uni09A0</key>
    <string>uni09A_0.glif</string>
    <key>uni09A1</key>
    <string>uni09A_1.glif</string>
    <key>uni09A2</key>
    <string>uni09A_2.glif</string>
    <key>uni09A3</key>
    <string>uni09A_3.glif</string>
    <key>uni09A4</key>
    <string>uni09A_4.glif</string>
    <key>uni09A5</key>
    <string>uni09A_5.glif</string>
    <key>uni09A6</key>
    <string>uni09A_6.glif</string>
    <key>uni09A7</key>
    <string>uni09A_7.glif</string>
    <key>uni09A8</key>
    <string>uni09A_8.glif</string>
    <key>uni09AA</key>
    <string>uni09A_A_.glif</string>
    <key>uni09AB</key>
    <string>uni09A_B_.glif</string>
    <key>uni09AC</key>
    <string>uni09A_C_.glif</string>
    <key>uni09AD</key>
    <string>uni09A_D_.glif</string>
    <key>uni09AE</key>
    <string>uni09A_E_.glif</string>
    <key>uni09AF</key>
    <string>uni09A_F_.glif</string>
    <key>uni09B0</key>
    <string>uni09B_0.glif</string>
    <key>uni09B2</key>
    <string>uni09B_2.glif</string>
    <key>uni09B6</key>
    <string>uni09B_6.glif</string>
    <key>uni09B7</key>
    <string>uni09B_7.glif</string>
    <key>uni09B8</key>
    <string>uni09B_8.glif</string>
    <key>uni09B9</key>
    <string>uni09B_9.glif</string>
    <key>uni09BC</key>
    <string>uni09B_C_.glif</string>
    <key>uni09BD</key>
    <string>uni09B_D_.glif</string>
    <key>uni09BE</key>
    <string>uni09B_E_.glif</string>
    <key>uni09BF</key>
    <string>uni09B_F_.glif</string>
    <key>uni09C0</key>
    <string>uni09C_0.glif</string>
    <key>uni09C1</key>
    <string>uni09C_1.glif</string>
    <key>uni09C2</key>
    <string>uni09C_2.glif</string>
    <key>uni09C3</key>
    <string>uni09C_3.glif</string>
    <key>uni09C4</key>
    <string>uni09C_4.glif</string>
    <key>uni09C7</key>
    <string>uni09C_7.glif</string>
    <key>uni09C8</key>
    <string>uni09C_8.glif</string>
    <key>uni09CB</key>
    <string>uni09C_B_.glif</string>
    <key>uni09CC</key>
    <string>uni09C_C_.glif</string>
    <key>uni09CE</key>
    <string>uni09C_E_.glif</string>
    <key>uni09D7</key>
    <string>uni09D_7.glif</string>
    <key>uni09DC</key>
    <string>uni09D_C_.glif</string>
    <key>uni09DD</key>
    <string>uni09D_D_.glif</string>
    <key>uni09DF</key>
    <string>uni09D_F_.glif</string>
    <key>uni09E6</key>
    <string>uni09E_6.glif</string>
    <key>uni09E7</key>
    <string>uni09E_7.glif</string>
    <key>uni09E8</key>
    <string>uni09E_8.glif</string>
    <key>uni09E9</key>
    <string>uni09E_9.glif</string>
    <key>uni09EA</key>
    <string>uni09E_A_.glif</string>
    <key>uni09EB</key>
    <string>uni09E_B_.glif</string>
    <key>uni09EC</key>
    <string>uni09E_C_.glif</string>
    <key>uni09ED</key>
    <string>uni09E_D_.glif</string>
    <key>uni09EE</key>
    <string>uni09E_E_.glif</string>
    <key>uni09EF</key>
    <string>uni09E_F_.glif</string>
    <key>uni09F0</key>
    <string>uni09F_0.glif</string>
    <key>uni09F1</key>
    <string>uni09F_1.glif</string>
    <key>uni09CD</key>
    <string>uni09C_D_.glif</string>
  </dict>
</plist>
