<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>820</integer>
    <key>capHeight</key>
    <integer>800</integer>
    <key>copyright</key>
    <string>Copyright (c) 2024 Dr Anirban Mitra</string>
    <key>descender</key>
    <integer>-204</integer>
    <key>familyName</key>
    <string>Berangeen</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <real>800.999976128</real>
      </dict>
      <dict>
        <key>y</key>
        <real>414.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>5.5</real>
    <key>note</key>
    <string>
Font log:
Expand stroke Circular Major 5 Minor 5 angle 0 nib nib </string>
    <key>openTypeHeadCreated</key>
    <string>2024/11/25 16:52:04</string>
    <key>openTypeHheaAscender</key>
    <integer>1230</integer>
    <key>openTypeHheaDescender</key>
    <integer>-306</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1230</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-306</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>anir</string>
    <key>openTypeOS2WeightClass</key>
    <integer>100</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1230</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>306</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>0</integer>
    <key>postscriptFontName</key>
    <string>Berangeen-Thin</string>
    <key>postscriptFullName</key>
    <string>Berangeen Thin</string>
    <key>postscriptSlantAngle</key>
    <real>5.5</real>
    <key>postscriptUnderlinePosition</key>
    <real>-76.5</real>
    <key>postscriptUnderlineThickness</key>
    <real>51.0</real>
    <key>postscriptWeightName</key>
    <string>Thin</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>414</integer>
  </dict>
</plist>
